{% extends 'base.html' %}
{% block title %} Video: {{ video.nombre}} {% endblock %}
{% block content %}
<h1> {{ video.nombre }} </h1>
<br>
<div class="row">
	<div class="span6">
		<p> Fecha: {{ video.fecha }} </p>
		<p> Genero: {{ video.genero }}  </p>		
		
		<br><br>
		
		<!-- Regresa a la pagina anterior -->
		<a href="/video/page/1" class="btn btn-primary"> Regresar a la lista de videos </a> 
	</div>
	<div class="span5">
		<iframe src={{video.descripcion}}> </iframe>
	</div>
</div>
{% endblock %}